<section class="page-section text-black mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary ">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-12 ms-auto">
                <p class="lead">“Working with Darshan was a PHENOMENAL experience! He’s the kind of a developer who is
                    determined to make your game the best out there. He went the extra mile for my game and really
                    exceeded my expectations.
                    With him, you can be assured of sincerity, professionalism, timely delivery and most importantly -
                    honesty. I HIGHLY recommend Darshan! He's a rare find.”</p>
            </div>
            <div class="col-lg-12 ms-auto">
                <p class="lead">Hi, I’m Darshan. I’m a professional game and backend developer, backed by extensive
                    experience in Unity, Php, NodeJS and C#</p>
            </div>
            <div class="col-lg-12 ms-auto">
                <p class="lead">When I partner with you, I have one simple goal - to deliver a game better than what you
                    have in mind. I work hard to design solutions that add more value than you pay for.</p>
            </div>
            <div class="col-lg-12 ms-auto">
                <p class="lead">If you’re looking for a developer who just completes the project, I may be your guy. But
                    if you’re looking for a developer who puts detailed thought into the project and works with an
                    ownership mindset, I am definitely your guy. </p>
            </div>
        </div>
        <!-- About Section Button-->
    </div>
</section>

{{!-- I have used bootstrap theme from https://startbootstrap.com/theme/freelancer --}}